<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Landing Page Template</title>
  <link rel="shortcut icon" href="image/favicon.png" type="image/x-icon">
  <!-- Bootstrap , fonts & icons  -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="fonts/icon-font/css/style.css">
  <link rel="stylesheet" href="fonts/typography-font/typo.css">
  <link rel="stylesheet" href="fonts/fontawesome-5/css/all.css">
  <!-- Plugin'stylesheets  -->
  <link rel="stylesheet" href="plugins/aos/aos.min.css">
  <link rel="stylesheet" href="plugins/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" href="plugins/nice-select/nice-select.min.css">
  <link rel="stylesheet" href="plugins/slick/slick.min.css">
  <link rel="stylesheet" href="plugins/ui-range-slider/jquery-ui.css">
  <!-- Vendor stylesheets  -->
  <link rel="stylesheet" href="css/main.css">
  <!-- Custom stylesheet -->
</head>

<body>
  <div class="site-wrapper overflow-hidden ">
    <!-- 404-page-section -->
    <div class="header pt-11 pos-abs-tl w-100">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <a href="landing-1.html" class="brand-logo">
              <img src="image/logo-main-black.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="404-page bg-default min-h-100vh flex-all-center pt-lg-15 pt-xxl-17 pt-27 pb-lg-0 pb-18">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 px-lg-9">
            <!-- card start -->
            <div class="card-404 text-center" data-aos="zoom-in" data-aos-duration="800" data-aos-once="true">
              <!-- card image start -->
              <img src="image/svg/404.svg" alt="" class="w-100 px-9">
              <!-- card image end -->
              <!-- card-icon start -->
              <div class="404-texts pt-14">
                <h3 class="card-title font-size-9 font-weight-bold">Page is not found!</h3>
                <!-- card-texts start -->
                <p class="card-text font-size-4 px-xxl-28 px-xs-10 px-sm-13 px-lg-13 px-md-28 px-xl-22 px-0 mb-11">Collaboratively administrate empowered markets via plug-and-play networks.
                  Dynamically procrastinate B2C users after installed base.</p>
                <!-- card-texts end -->
                <a href="index.html" class="btn btn-green btn-h-60 text-white rounded-5 w-180 m-auto text-uppercase">Back to home</a>
              </div>
            </div>
            <!-- card end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Vendor Scripts -->
  <script src="js/vendor.min.js"></script>
  <!-- Plugin's Scripts -->
  <script src="plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="plugins/nice-select/jquery.nice-select.min.js"></script>
  <script src="plugins/aos/aos.min.js"></script>
  <script src="plugins/slick/slick.min.js"></script>
  <script src="plugins/counter-up/jquery.counterup.min.js"></script>
  <script src="plugins/counter-up/jquery.waypoints.min.js"></script>
  <script src="plugins/ui-range-slider/jquery-ui.js"></script>
  <!-- Activation Script -->
  <!-- <script src="js/drag-n-drop.js"></script> -->
  <script src="js/custom.js"></script>
</body>

</html>