{% load static %}
<link rel="shortcut icon" href="image/favicon.png" type="image/x-icon">
<!-- Bootstrap , fonts & icons  -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'fonts/icon-font/css/style.css' %}">
<link rel="stylesheet" href="{% static 'fonts/typography-font/typo.css' %}">
<link rel="stylesheet" href="{% static 'fonts/fontawesome-5/css/all.css' %}">
<!-- Plugin'stylesheets  -->
<link rel="stylesheet" href="{% static 'plugins/aos/aos.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/fancybox/jquery.fancybox.min.css' %}">
<!--<link rel="stylesheet" href="{% static 'plugins/nice-select/nice-select.min.css' %}">-->
<!--<link rel="stylesheet" href="{% static 'plugins/slick/slick.min.css' %}">-->
<!--<link rel="stylesheet" href="{% static 'plugins/ui-range-slider/jquery-ui.css' %} ">-->
<!-- Vendor stylesheets  -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">