{% load static %}
<div class="sidebar">
    <!-- Online Training -->
    <div class="card mb-3 ulike-card">
        <img width="100%" height="266"
             src="https://api.v1.jobejee.com/v2/resource/ad-img/a15a44ae1641449341251.png"/>
    </div>


    <!-- Jobs by Category -->
    <div class="card mb-3 ulike-card">
        <div class="card-header font-weight-semibold  ulike-card-header text-capitalize">
            Jobs by Category
        </div>
        <div class="card-body ulike-card-body">
            <p class="mb-0 font-size-3 heading-default-color">Lead Product Designer</p>
            <p class="mb-0 font-size-3 primary-color text-truncate heading-default-color">
                <a class="primary-color" href="">Advertising Industry</a>
            </p>
            <p class="mb-0 font-size-3 primary-color heading-default-color">Lead Product Designer</p>
        </div>
    </div>

    <!-- Jobs by Industry -->
    <div class="card mb-3 ulike-card">
        <div class="card-header ulike-card-header text-capitalize">
            Jobs by Industry
        </div>
        <div class="card-body ulike-card-body">
            <p class="mb-0 font-size-3 heading-default-color">Lead Product Designer</p>
            <p class="mb-0 font-size-3 primary-color text-truncate heading-default-color">
                <a class="primary-color" href="">Advertising Industry</a>
            </p>
            <p class="mb-0 font-size-3 primary-color heading-default-color">Lead Product Designer</p>
        </div>
    </div>

    <!-- jobs by Employment type -->
    <div class="card mb-3 ulike-card">
        <div class="card-header ulike-card-header text-capitalize">
            Jobs by Employment Type
        </div>
        <div class="card-body ulike-card-body">
            <p class="mb-0 font-size-3 heading-default-color">Lead Product Designer</p>
            <p class="mb-0 font-size-3 primary-color text-truncate heading-default-color">
                <a class="primary-color" href="">Advertising Industry</a>
            </p>
            <p class="mb-0 font-size-3 primary-color heading-default-color">Lead Product Designer</p>
        </div>
    </div>

    <!-- Facebook Page Link -->
</div>