<style>

</style>
<ul class="nav flex-column border-right font-size-4">
    <li class="nav-item border-bottom">
        <a class="nav-link active primary-color font-size-5" aria-current="page" href="#">
            <small><i class="fas fa-info mr-7"></i>Basic information</small>

        </a>
    </li>
    <li class="nav-item border-bottom">
        <a class="nav-link primary-color font-size-5" href="">
            <small><i class="far fa-bookmark mr-7"></i>Job Preferences</small>
        </a>
    </li>
    <li class="nav-item border-bottom">
        <a class="nav-link active primary-color font-size-5" aria-current="page" href="#">
            <small>
                <i class="fas fa-school mr-7   "></i>Education
            </small>

        </a>
    </li>
    <li class="nav-item border-bottom">
        <a class="nav-link active primary-color font-size-5" aria-current="page" href="#">
            <small><i class="fas fa-briefcase mr-7"></i>Work Experience</small>

        </a>
    </li>

    <li class="nav-item border-bottom">
        <a class="nav-link active primary-color font-size-5" aria-current="page" href="#">
            <small><i class="fas fa-certificate mr-7"></i>Training</small>

        </a>
    </li>


    <li class="nav-item">
        <a class="nav-link primary-color font-size-5 border-bottom" aria-current="page" href="#">
            <small><i class="fas fa-globe-europe mr-7"></i>Language</small>

        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link primary-color font-size-5 border-bottom" aria-current="page"
            href="{% url 'dashboard_jobseeker:profile-reference' %}">
            <small><i class="fas fa-asterisk mr-7"></i>Reference</small>

        </a>
    </li>

</ul>