{% extends 'dashboard_jobseeker/edit-profile.html' %}
{% load crispy_forms_tags %}


{% block edit_profile_content %}
<div class="container">
  <div class="card ulike-card mb-5">
    <div class="card-header ulike-card-header font-size-4">
        <div class="d-flex">
            <div class="font-size-4 tex-capitalize w-100">Your bookmark job Details</div>

        </div>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table font-size-3 text-capitalize">
                <thead>
                <tr>
                    <th scope="col">Job title</th>
                    <th scope="col">Company</th>
                    <th scope="col">Job Level</th>
                    <th scope="col">Industry</th>


                </tr>
                </thead>
                <tbody>

                {% for applied in request.user.profile.get_bookmarked_jobs %}
                <tr>
                    <td><a class="primary-color font-weight-semibold" href="{{applied.job.get_absolute_url}}">{{applied.job.title}}</a></td>
                    <td><a  class="text-underline text-gray" href="{{applied.job.company.get_absolute_url}}">{{applied.job.company}}</a></td>
                    <td>{{applied.job.job_level}}</td>
                    <td>{{applied.job.job_industry}}</td>


                </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


</div>

{% endblock edit_profile_content %}