{% extends 'dashboard_jobseeker/edit-profile.html' %}
{% load crispy_forms_tags %}


{% block edit_profile_content %}
<div class="container">
    <div class="card ulike-card mb-5">
        <div class="card-header ulike-card-header font-size-4">
            <div class="d-flex">
                <div class="font-size-4 tex-capitalize w-100">Scheduled Interviews</div>

            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table font-size-3 text-capitalize">
                    <thead>
                    <tr>
                        <th scope="col">Job title</th>
                        <th scope="col">Company</th>
                        <th scope="col">Job Level</th>
                        <th scope="col">Industry</th>
                        <th scope="col">Status</th>
                        <th scope="col">Applied Date</th>
                        <th scope="col">Interview Date</th>
                        <th scope="col">Message</th>

                    </tr>
                    </thead>
                    <tbody>


                    {% for applied in request.user.profile.get_scheduled_interview_job %}
                    <tr>
                        <td><a class="primary-color font-weight-semibold" href="{{applied.job.get_absolute_url}}">{{applied.job.title}}</a>
                        </td>
                        <td><a class="text-underline text-gray" href="{{applied.job.company.get_absolute_url}}">{{applied.job.company}}</a>
                        </td>
                        <td>{{applied.job.job_level}}</td>
                        <td>{{applied.job.job_industry}}</td>
                        <td>{{applied.status}}</td>
                        <td>{{applied.created_date}}</td>

                        <td scope="col">{% if applied.interview_date %} applied.interview_date | naturaltime {%else%} NA
                            {%endif%}
                        </td>
                        <td scope="col">{{applied.message|safe}}</td>

                    </tr>
                    {% endfor %}


                    </tbody>

                </table>
                {% if not request.user.profile.get_scheduled_interview_job %}
                <p class="font-size-3 font-weight-semibold text-dark text-dark">No jobs are accepted yet.</p>

                {%endif %}
            </div>
        </div>
    </div>


</div>

{% endblock edit_profile_content %}