{% extends 'dashboard_employer/dashboard-main.html' %}
{% load humanize %}
{% block dashboard_content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <p class="text-secondary">Delete {{object.title}}</p>
        </div>
        <div class="card-body">
            <form method="Post">
                {% csrf_token %}
                <input type="hidden" name="pk" value={{object.pk}} />
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>

        </div>
    </div>
</div>

{%endblock dashboard_content %}